.pink{
    background-color: pink;
    font-family: Verdana, sans-serif; 
}

.pink.cooler{
    font-size: 36px;
}

#bluetext{
    font-size: 36px;
    color: blue;
}

#greenbg{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}