body {
  max-width: 600px;
  margin: 40px auto;
}

.box{
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  align-content: center;
}

.one {
  background-color: blue;
  height: 20px;
  width : 400px;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 0px;
}

.two {
  background-color: red;
  height: 20px;
  width : 400px;
  padding: 50px;
  border: 1px solid black;
  margin-top: 0px;
}

.three {
  background-color: yellow;
  height: 20px;
  width : 400px;
  border: 1px solid black;
}