.button.first{
    background-color: black;
    color: white;
}
.button.second{
    background-color: yellow;
}
.button{
    font-size: 48px;
    font-family: 'helvetica','Times New Roman', 'sans-serif';
}

/* The following section is all about pseudo-classes. We will learn it eventually I think. Currently we don't know how this works */

button {
  transition: all 0.2s ease;
}

button:hover {
  background-color: #444;
}

button:active {
  transform: scale(0.97);
}

button:focus-visible {
  outline: 2px solid #007bff;
}